<mat-card>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <h1>Classroom Informations</h1>
        <mat-divider></mat-divider>
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Code</mat-label>
              <input matInput [(ngModel)]="newClassroom.code" name="code" required>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Libelle</mat-label>
              <input matInput [(ngModel)]="newClassroom.libelle" name="libelle" required>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list  cols="2" rowHeight="2:1">
          <mat-grid-tile>
            <button mat-flat-button color="primary" type="submit" class="button">
              Save
            </button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-flat-button color="warn" type="button" class="button" (click)="onCancel()">
              Cancel
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-card-content>
  </mat-card>
